@charset "UTF-8";
/* ========================================
 * 全体
 * ===================================== */
/* ------------------------
 * Body
 * --------------------- */
body {
    background: #ccc;
}



/* ========================================
 * カード
 * ===================================== */
/* ------------------------
 * カードの枠組
 * --------------------- */
.card {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-rows: 1fr;
    position: absolute;
    inset: 0;
    width: 344px;
    height: 208px;
    margin: auto;
    background: linear-gradient(60deg, #ededed 40%, #fff calc(40% + 1px), #fff 100%);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .2), 8px 8px 16px rgba(0, 0, 0, .1);
}


/* ------------------------
 * カードのイメージ部分
 * --------------------- */
.card_image {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    align-self: flex-end;
    padding: 10px;
}
.card_image img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}


/* ------------------------
 * カードのテキスト部分
 * --------------------- */
/* ---- 枠 ---- */
.card_contents {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    padding: 10px 0 10px 10px;
    line-height: 1;
}

/* ---- 組織名 ---- */
.org {
    font-size: 1.25rem;
}
.org::first-letter {
    color: #F27E18;
    font-size: 2rem;
}

/* ---- 所属 ---- */
.member {
    display: block;
    margin-top: .5rem;
    font-size: .8rem;
}
.member::before,
.member::after {
    content: "-";
}
.member::before {
    margin-right: 3px;
}
.member::after {
    margin-left: 3px;
}

/* ---- 名前 ---- */
.name {
    margin-top: 10px;
    font-size: 1.6rem;
    font-weight: normal;
}

/* ---- メッセージ ---- */
.msg {
    position: relative;
    margin-top: calc(12px - .2rem);
    padding-top: 1.4rem;
    font-size: .8rem;
    line-height: 1.4;
}

.msg::before {
    content: "✨自己紹介✨";
    position: absolute;
    top: 0;
    border-bottom: 1px solid #000;
}