@charset "UTF-8";
/* ========================================
 * 全体
 * ===================================== */
/* ------------------------
 * Body
 * --------------------- */
body {
    background: #ccc;
}



/* ========================================
 * カード
 * ===================================== */
/* ------------------------
 * カードの枠組
 * --------------------- */
.card {
    overflow: hidden;
    width: 344px;
    height: 208px;
    background: #fff;
}