@charset "UTF-8";
/* ========================================
 * 全体
 * ===================================== */
/* ------------------------
 * Body
 * --------------------- */
body {
    background: #ccc;
}



/* ========================================
 * カード
 * ===================================== */
/* ------------------------
 * カードの枠組
 * --------------------- */
.card {
    overflow: hidden;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr;
    /* 
     * display: gridの説明
     1      2   3
    1┌     ┬   ┐
     │100px│1fr│1fr
    2└     ┴   ┘
    */
    width: 344px;
    height: 208px;
    background: #fff;
}