@charset "UTF-8";
/* ========================================
 * 全体
 * ===================================== */
/* ------------------------
 * Body
 * --------------------- */
body {
    background: #ccc;
}



/* ========================================
 * カード
 * ===================================== */
/* ------------------------
 * カードの枠組
 * --------------------- */
.card {
    overflow: hidden;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr;
    /* 
     * display: gridの説明
     1      2   3
    1┌     ┬   ┐
     │100px│1fr│1fr
    2└     ┴   ┘
    */
    width: 344px;
    height: 208px;
    background: #fff;
}


/* ------------------------
 * カードのイメージ部分
 * --------------------- */
.card_image {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    padding: 10px;
}
.card_image img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}